[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask_cors = "*"
jinja2 = "*"
marshmallow = "*"
marshmallow_enum="*"
numpy = "*"
pydantic = "*"
flask-openapi3 = {extras = ["swagger"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
